.header a {
    color: white;
}
.header a:hover{
    font-weight: bolder;
}
.header {
  
    top: 0;
    width: 100%;
    height: 75px;
    /* Set the fixed height of the header here */
    line-height: 75px;
    /* Vertically center the text there */
    background-color: slateblue;
   
}
    