html {
    position: relative;
    min-height: 100%;
}

.container {
    margin-top: 100px;
}
body {
    margin-bottom: 100px;
}
a.navbar-brand {
	white-space: normal;
	word-break: break-all;

}

nav {
    position: sticky;
    
}
.btn{
    margin-right: 1vw;
}